div {
  margin: 0px;
  padding: 0px;
}
.nav {
  display: flex;
  width: 100%;
  align-items: center;
  margin-left: 10px;
}
.nav-skip {
  width: 50%;
  text-align: left;
}
.list {
  width: 50%;
  display: flex;
  list-style: none;
  margin-left: 50%;
  padding-left: 2em;
  padding-right: 2em;
  font-weight: bold;
  text-align: right;
  justify-content: space-between;
}
.section1 {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
}
.skip-diet {
  width: 50%;
  margin: 10px;
  padding: 10px;
}
.male1 {
  width: 50%;
  margin: 10px;
  padding: 10px;
}
#male1 {
  height: 600px;
  width: 600px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 20px;
  font-weight: 900;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-variant: small-caps;
}
span {
  color: tomato;
}
.button1 {
  margin: 10px;
  padding: 10px 20px;
  border: 20px;
  background-color: tomato;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.section2 {
  display: flex;
  width: 100%;
  align-items: center;
  background-image: url(./images/shapes/7.png);
}
.female1 {
  width: 50%;
  margin: 20px;
  padding: 50px 60px 0px 120px;
  padding-right: 60px;
}
#female1 {
  height: 500px;
  width: 350px;
}
.button2 {
  margin: 10px;
  padding: 10px 20px;
  border: 20px;
  background-color: tomato;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.about-me {
  width: 50%;
  margin: 10px;
  padding: 10px;
}
.section3 {
  width: 40%;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
}
.section4 {
  display: flex;
  width: 90%;
  align-items: center;
  padding: 5%;
}
.iteam1 {
  width: 40%;
  margin: 10px;
  padding: 5px 5px 5px 50px;
  box-shadow: 10px 10px 10px 10px gray;
  border-radius: 40px;
}
.iteam2 {
  width: 40%;
  margin: 10px;
  padding: 5px 5px 5px 50px;
  box-shadow: 10px 10px 10px 10px gray;
  border-radius: 40px;
}
#img1 {
  height: 300px;
  width: 400px;
  padding-left: 15px;
  padding-top: 10px;
}
#img2 {
  height: 300px;
  width: 400px;
  padding-left: 15px;
  padding-top: 10px;
}

.section5 {
  display: flex;
  padding-left: 40px;
  width: 80%;
  padding: 10px 0px 0px 50px;

  border-radius: 10px;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.box-shadow {
  width: 80%;
  display: flex;
  padding-left: 0px;
  box-shadow: 5px 5px 5px 5px gray;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}
.blank {
  width: 10%;
}
.blank1 {
  width: 10%;
}
.fb {
  width: 20%;
  text-align: center;
}
.youtube {
  width: 20%;
  text-align: center;
}
.insta {
  width: 20%;
  text-align: center;
}
.dribble {
  width: 20%;
  text-align: center;
}
footer {
  background-color: rgb(21, 17, 17);
  color: rgb(132, 144, 155);
  height: 160px;
  text-align: center;
  margin-top: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#footer {
  color: cornsilk;
  font-size: 15px;
}
