div {
  margin: 0px;
  padding: 0px;
}
.nav {
  display: flex;
  width: 100%;
  align-items: center;
  margin-left: 10px;
}
.nav-skip {
  width: 50%;
  text-align: left;
}
.list {
  width: 50%;
  display: flex;
  list-style: none;
  margin-left: 50%;
  padding-left: 2em;
  padding-right: 2em;
  font-weight: bold;
  text-align: right;
  justify-content: space-between;
}
.section1 {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
}
.skip-diet {
  width: 50%;
  margin: 10px;
  padding: 10px;
}
.male1 {
  width: 50%;
  margin: 10px;
  padding: 10px;
}
#male1 {
  height: 600px;
  width: 600px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 25px;
}
span {
  color: tomato;
}
.button1 {
  margin: 10px;
  padding: 10px 20px;
  border: 20px;
  background-color: tomato;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.section2 {
  display: flex;
  width: 100%;
  align-items: center;
  background-image: url(./images/shapes/7.png);
}
.female1 {
  width: 50%;
  margin: 20px;
  padding: 50px 60px 0px 120px;
  padding-right: 60px;
}
#female1 {
  height: 500px;
  width: 350px;
}
.button2 {
  margin: 10px;
  padding: 10px 20px;
  border: 20px;
  background-color: tomato;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.about-me {
  width: 50%;
  margin: 10px;
  padding: 10px;
}
.section3 {
  width: 40%;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
}
